<div class="rotate" style="width: 100%; height:1000px; margin-left: 200px; ">
  <div class="circle">
    <h1
      style="font-size:x-large; color: coral; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 10px; ">
      <br> &nbsp; &nbsp;&nbsp; 24 year <br> &nbsp; Experience</h1>
  </div>
  <div class="lcircle">



    <div class="division1">
      <h3 class="d1">ETL <br> Tools </h3>
      <h3 class="d2">Bigdata</h3>
    </div>
    <div class="division2">
      <h3 class="d3">Database </h3>
      <h3 class="d4">&nbsp; &nbsp; Cloud <br> Computing </h3>
    </div>
    <div class="division3">
      <h3 class="d5">Security </h3>
      <h3 class="d6">DevSec <br> &nbsp; &nbsp; Ops </h3>
    </div>
    <div class="division4">
      <h3 class="d7">Message<br> &nbsp; Queue </h3>
      <h3 class="d8">&nbsp;SOA<br> Arch.</h3>
    </div>




  </div>


  <div class="arrow-1 a1"></div>
  <div class="arrow-1 a2"></div>
  <div class="arrow-1 a3"></div>
  <div class="arrow-1 a4"></div>
  <div class="arrow-1 a5"></div>
  <div class="arrow-1 a6"></div>
  <div class="arrow-1 a7"></div>
  <div class="arrow-1 a8"></div>



  <div class="card card1 c1" (click)="cardClicked()" [@cardFlip]="data.state">
    <div class="face back" style="display: flex;">
      <div>
        <br>
        <ul>
          <li>AWS</li>
          <li>Azure</li>
          <li>GCP</li>
          <li>Salesforce</li>
          <li>SAAS</li>
        </ul>
      </div>
      <div>
        Top Profile

        <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 50%;"
          mat-card-image src="./assets/aman.jpg">
        <br>
        <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 50%;"
          mat-card-image src="./assets/vinay.jpg">
      </div>
    </div>
    <div class="face front">
      ddededd
    </div>
  </div>

  <div class="card card2 c2" (click)="card1Clicked()" [@cardsFlip]="data1.state">

    <div class="face back">
      smasna
    </div>
    <div class="face front">
      aman
    </div>

  </div>

  <div class="card1 c3"></div>

  <div class="card2 c4"></div>
  <div class="card1 c5"></div>

  <div class="card2 c6"></div>
  <div class="card1 c7"></div>

  <div class="card2 c8"></div>
  <div class="logo1">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/nortel.png">
  </div>
  <div class="logo2">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/ray.png">
  </div>
  <div class="logo3">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/verizon.jpg">
  </div>

  <div class="logo4">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/citi.jpg">
  </div>
  <div class="logo5">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/southw.png">
  </div>
  <div class="logo6">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/jp.png">
  </div>
  <div class="logo7">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/nat.png">
  </div>
  <div class="logo8">
    <img style="height:40%;width:80%; background-color: #FFFFFF; border-style: solid; border-radius: 30%;"
      mat-card-image src="./assets/bar.jpeg">
  </div>

</div>